@model CollegeProgram
<h2>Are you sure you want to delete?</h2>
<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id" />
    <input type="submit" value="Yes" class="btn btn-danger" />
    <a asp-action="Index" class="btn btn-secondary">No</a>
 </form>
